/* Random CSS File - YoQik1PQ4P */
body {
  background-color: #4Y5fsX;
  color: #PZGF15;
  font-family: Arial, sans-serif;
  margin: 47px;
}

h1 {
  color: #Lx0vPq;
  font-size: 31px;
  text-align: right;
}

p {
  line-height: 1.6;
  font-style: normal;
}

.random-class-ZIssc {
  border: 3px dashed #dIEfGw;
  padding: 14px;
}
