/* Random CSS File - HrnEl2JN7t */
body {
  background-color: #crAqhZ;
  color: #jeq9sF;
  font-family: Arial, sans-serif;
  margin: 33px;
}

h1 {
  color: #VvxLRL;
  font-size: 38px;
  text-align: center;
}

p {
  line-height: 1.6;
  font-style: normal;
}

.random-class-xopQU {
  border: 4px dashed #foVHWv;
  padding: 8px;
}
