/* Random CSS File - gK61hF3ZNv */
body {
  background-color: #yEqjOv;
  color: #a8qoP4;
  font-family: Arial, sans-serif;
  margin: 39px;
}

h1 {
  color: #7Nsg9Q;
  font-size: 38px;
  text-align: center;
}

p {
  line-height: 1.7;
  font-style: italic;
}

.random-class-XyiZH {
  border: 1px dotted #bkX1Iz;
  padding: 16px;
}
